<main class="h-100 w-100 xs-w-50 d-flex flex-col justify-content-center">
  <article>
    <h1 class="mat-display-3">
      <div class="mat-text-primary">Hello.</div>
      <div>
        I am
        <strong class="mat-text-primary">Pushpit Virmani</strong>.
      </div>
      <div class="mat-body mt-l">
        <pv-external-links></pv-external-links>
      </div>
    </h1>
    <p>
      I am an epic gamer who likes slaying mad pussy 24x7. If you want some
      pussy pounded, I am your guy.
    </p>
  </article>
</main>
