<main class="h-100 w-full sm:w-1/2 flex flex-col justify-center">
  <header class="mat-display-3">
    <div class="mat-text-primary">Hello.</div>
    <div>
      I am
      <strong class="mat-text-primary">Pushpit Virmani</strong>.
    </div>
    <div class="mat-body mt-l">
      <pv-external-links></pv-external-links>
    </div>
  </header>

  <article>
    <p>
      I am a former Software Engineer and tech enthusiast. I have experienced
      the workings of startups as well as those of a tech-giant like
      <a pvExternalLink href="https://www.infosys.com/" class="mat-text-primary"
        >Infosys Ltd.</a
      >
      firsthand. I have always performed well with cross-functioning teams and I
      value my ability to excel as a team player. I have worked for 22 months at
      Infosys Ltd. as a Systems Engineer and was part of back-end development
      team. Thanks to my time-management and managerial skills, I was
      instrumental in the success of my project and earned the commendation of
      my client,
      <a
        pvExternalLink
        href="https://www.esteelauder.com/"
        class="mat-text-primary"
      >
        Estée Lauder</a
      >.
    </p>
    <p>
      To further my managerial growth after gaining industry experience, I am
      now enrolled in the
      <a
        pvExternalLink
        href="https://escp.eu/programmes/master-in-management"
        class="mat-text-primary"
        >Masters in Management</a
      >
      program at
      <a pvExternalLink href="https://escp.eu/paris" class="mat-text-primary"
        >ESCP, Paris Campus</a
      >.
    </p>
  </article>
</main>
