<mat-nav-list class="h-full flex flex-col justify-center">
  <mat-list-item [matTooltip]="'Home'" [matTooltipPosition]="'right'">
    <a [routerLink]="['/home']" class="inline-block">
      <mat-icon
        [color]="'primary'"
        class="align-middle"
        [ngClass]="{ 'mr-4': shouldDisplayLabels }"
      >
        home
      </mat-icon>
      <span *ngIf="shouldDisplayLabels" class="align-bottom mat-body-2 mr-6">
        Home
      </span>
    </a>
  </mat-list-item>
  <mat-list-item [matTooltip]="'My Work'" [matTooltipPosition]="'right'">
    <a [routerLink]="['/work']" class="inline-block">
      <mat-icon
        [color]="'primary'"
        class="align-middle"
        [ngClass]="{ 'mr-4': shouldDisplayLabels }"
      >
        work
      </mat-icon>
      <span *ngIf="shouldDisplayLabels" class="align-bottom mat-body-2 mr-6">
        My Work
      </span>
    </a>
  </mat-list-item>
  <mat-list-item [matTooltip]="'My Skills'" [matTooltipPosition]="'right'">
    <a [routerLink]="['/skills']" class="inline-block">
      <mat-icon
        [color]="'primary'"
        class="align-middle"
        [ngClass]="{ 'mr-4': shouldDisplayLabels }"
      >
        construction
      </mat-icon>
      <span *ngIf="shouldDisplayLabels" class="align-bottom mat-body-2 mr-6">
        My Skills
      </span>
    </a>
  </mat-list-item>
  <mat-list-item [matTooltip]="'Contact Me'" [matTooltipPosition]="'right'">
    <a [routerLink]="['/contact']" class="inline-block">
      <mat-icon
        [color]="'primary'"
        class="align-middle"
        [ngClass]="{ 'mr-4': shouldDisplayLabels }"
      >
        contact_mail
      </mat-icon>
      <span *ngIf="shouldDisplayLabels" class="align-bottom mat-body-2 mr-6">
        Contact Me
      </span>
    </a>
  </mat-list-item>
</mat-nav-list>
