<mat-nav-list class="h-full flex flex-col justify-center">
  <a
    mat-list-item
    [matTooltip]="'Home'"
    [matTooltipPosition]="'right'"
    [routerLink]="['/home']"
    class="inline-block"
  >
    <mat-icon
      [color]="'primary'"
      class="align-middle"
      [ngClass]="{ 'mr-4': shouldDisplayLabels }"
    >
      home
    </mat-icon>
    <span *ngIf="shouldDisplayLabels" class="align-bottom mat-body-2 mr-6">
      Home
    </span>
  </a>
  <a
    mat-list-item
    [matTooltip]="'My Work'"
    [matTooltipPosition]="'right'"
    [routerLink]="['/myWork']"
    class="inline-block"
  >
    <mat-icon
      [color]="'primary'"
      class="align-middle"
      [ngClass]="{ 'mr-4': shouldDisplayLabels }"
    >
      work
    </mat-icon>
    <span *ngIf="shouldDisplayLabels" class="align-bottom mat-body-2 mr-6">
      My Work
    </span>
  </a>
  <a
    mat-list-item
    [matTooltip]="'My Education'"
    [matTooltipPosition]="'right'"
    [routerLink]="['/education']"
    class="inline-block"
  >
    <mat-icon
      [color]="'primary'"
      class="align-middle"
      [ngClass]="{ 'mr-4': shouldDisplayLabels }"
    >
      school
    </mat-icon>
    <span *ngIf="shouldDisplayLabels" class="align-bottom mat-body-2 mr-6">
      My Education
    </span>
  </a>
  <a
    mat-list-item
    [matTooltip]="'Contact Me'"
    [matTooltipPosition]="'right'"
    [routerLink]="['/contact']"
    class="inline-block"
  >
    <mat-icon
      [color]="'primary'"
      class="align-middle"
      [ngClass]="{ 'mr-4': shouldDisplayLabels }"
    >
      contact_mail
    </mat-icon>
    <span *ngIf="shouldDisplayLabels" class="align-bottom mat-body-2 mr-6">
      Contact Me
    </span>
  </a>
</mat-nav-list>
