@import "../../node_modules/@angular/material/_theming.scss";
@import "_mixins.scss";
@import "_variables.scss";
@import "_theme.scss";

.mat-text-primary {
  color: mat-color($primary) !important;
}

.mat-text-accent {
  color: mat-color($accent) !important;
}

.mat-app-background-secondary-dark {
  background-color: map-get($mat-dark-theme-background, card);
}

// Padding
.px-l {
  padding-left: $l;
  padding-right: $l;
}

// Margin
.mt-l {
  margin-top: $l;
}

.mr-xs {
  margin-right: $xs;
}

.mr-sm {
  margin-right: $sm;
}

// Height
.h-100 {
  height: 100%;
}

// Width
.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

@include breakpoint-xs {
  .xs-w-50 {
    width: 50%;
  }
}

// Display
.d-flex {
  display: flex;
}
// Display

// Flex direction
.flex-col {
  flex-direction: column;
}

// Justify content
.justify-content-center {
  justify-content: center;
}
